.back-btn{
    font-size: 30px;
    margin-left: calc(100% - 30px - 16px);
    margin-top: 10px;
}
.post{
    width: calc(100% - 16px * 2);
    margin-left: 16px;
    margin-right: 16px;
    margin-top: 23px;
}
.post-title-name{
    color: #414141;
    font-size: 25px;
    font-weight: 700;
}
.post-info-div{
    margin-top: 33px;
    display: flex;
    justify-content: space-between;
}
.user-profile-img{
    font-size: 25px;
    color: #BEBEBE;
}
.post-user-profile{
    display: flex;
    align-items: center;
    column-gap: 7px;
    align-items: end;
}
.post-user{
    color: #414141;
    font-size: 14px;
    font-weight: 500;
}
.post-date{
    color: #414141;
    font-size: 9px;
    font-weight: 300;
}
.join-people-div{
    display: flex;
    column-gap: 4px;
    align-items: end;
}
.join-button{
    color: #FFB700;
    font-size: 14px;
    font-weight: 700;
}
.join-profile{
    font-size: 25px;
    color: #414141;
}
.join-cnt{
    color: #414141;
    font-size: 16px;
    font-weight: 700;
}
.line{
    width: 100%;
    height: 0.5px;
    background-color: #414141;
    margin-top: 8px;
}

.post-detail{
    margin-top: 20px;
    color: #414141;
    font-size: 14px;
    font-weight: 300;
    line-height: 18px;
    height: 224px;
}
.comment-title{
    color: #414141;
    font-size: 14px;
    margin-bottom: 6px;
}
.share-comment-line{
    position: relative;
    width: calc(100% + 16px * 2);
    left: -18px;
    border-top: 0.5px solid #414141;
}
.comment-area{
    margin-top: 11px;
}
.comments,
.sub-comments{
    margin-top: 5px;
}
.comment-profile{
    display: flex;
    align-items: center;
    column-gap: 4px;
    width: 100%;
}
.user-comment-profile-img{
    color: #BEBEBE;
    font-size: 30px;
}
.comment-username{
    color: #414141;
    font-size: 14px;
    font-weight: 500;
}
.comment-content{
    margin-top: 6px;
    color: #414141;
    font-size: 14px;
}
.comment-info{
    position: relative;
    display: flex;
    margin-top: 3px;
    align-items: baseline;
    column-gap: 7px;
    margin-left: calc(100% - 101px);    
}
.comment-date{
    position: relative;
    color: #414141;
    font-size: 8px;
    font-weight: 300;
    top: -5px;
}
.add-comment{
    font-size: 24px;
    color: #D9D9D9;
}
.sub-comments{
    display: flex;
}
.sub-comment-enter{
    transform: scaleX(-1);
    font-size: 20px;
    color: #545454;
}
.comment-detail{
    width: 100%;
}
.sub-comment-info{
    display: flex;
    align-items: end;
    column-gap: 7px;
    margin-left: calc(100% - 101px);
}
.input-comment-div{
    margin: 24px 16px 24px 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.input-comment{
    height: 30px;
    width: 85%;
    border: none;
    border-radius: 20px;
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.10) inset;
    outline: none;
    padding-left: 20px;
    font-size: 12px;
    color: #545454;
}
.send-comment{
    font-size: 24px;
    color: #A9A9A9;
}
.show-join-people{
    visibility: hidden;
    z-index: 1;
    position: absolute;
    width: 142px;
    border-radius: 10px;
    background-color: white;
    box-shadow : rgba(0,0,0,0.5) 0 0 0 9999px;
}
.join-people-title{
    margin: 12px;
    color: #000;
    font-size: 14px;
    font-weight: 500;
}
.join-peoeple{
    margin: 20px;
    text-align: center;
}